#rule-ctr {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1.25rem;
    &__head {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        > span {
            display: block;
            margin: 0 1rem;
            font-size: 1.25rem;
            font-weight: bold;
            line-height: 1;
            font-style: italic;
        }
    }
    &__body {
        margin: 0 1.5rem;
    }
    &__tail {
        display: flex;
        flex-direction: column;
    }
}
